.NoteForm {
  display: flex;
  flex-flow: column;
  margin: 30px auto;
  width: 400px;
}

.NoteForm * {
  font-size: 14px;
  margin: 15px;
  resize: none;
}

textarea {
  padding: 10px 10px 0;
}

textarea::placeholder {
  font-size: 14px;
  text-align: center;
}